<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<a th:href="@{/}">HOME</a>
<div align="center">
    <h2>UserLOGIN</h2>
    <form th:action="@{/user/login}" method="post">
        <table>
            <tr>
                <td>E-mail:</td>
                <td><input type="email" required />
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" required/>
                </td>
            <tr><td>&nbsp;
            <tr>
                <td colspan="2" align="center"><input type="submit" value="login"/></td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>