<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMARTSCHOOL APP</title>">
    <title>Title</title>
    <link th:href= "@{/css/register.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
</head>
<body>

<div class="container">

    <div class="page-header">
        <div class="well">
            <h2>Register Form</h2>
        </div>
    </div>

    <form class="form-horizontal" role="form">

        <fieldset>

            <legend>User Info</legend>

                   <!-- Firstname -->
            <div class="form-group">
                <label class="col-lg-3" for="firstName">First Name</label>
                <div class="col-lg-9">
                    <input type="text" name="firstName" id="firstName" value="" placeholder="firstName" class="form-control" />
                </div>
            </div>

            <!-- Lastname -->
            <div class="form-group">
                <label class="col-lg-3" for="lastName">Last Name</label>
                <div class="col-lg-9">
                    <input type="text" name="lastName" id="lastName" value="" placeholder="lastName" class="form-control" />
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label class="col-lg-3" for="email">Email</label>
                <div class="col-lg-9">
                    <input type="text" name="email" placeholder="email" value="" class="form-control" />
                </div>
            </div>

        </fieldset>

        <hr>

        <fieldset>

            <legend>User Image</legend>

            <!-- Image -->
            <!-- Image -->
            <div class="form-group" id="profile_image_preview">
                <label class="col-lg-3" for="profile_image_preview">Preview Profile Image</label>
                <div class="col-lg-3">
                    <img src="" class="img-thumbnail" style="width: 100%; height: 200px;">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3" for="profile_image">Profile Image</label>
                <div class="col-lg-9">
                    <div class="input-group">
<span class="input-group-btn">
<label class="btn btn-primary" for="profile_image">
    <input id="profile_image" type="file" style="display:none;" >Choose file
    <input type="hidden" name="image" value="" id="hidden_profile_image" />
</label>
</span>
                        <input type="" value="" class="form-control" id="upload-file-info" readonly>
                    </div>
                </div>
            </div>

        </fieldset>

        <hr/>

        <fieldset>

            <legend>Password</legend>

            <!-- Password -->
            <div class="form-group">
                <label class="col-lg-3" for="password">Password</label>
                <div class="col-lg-9">
                    <input type="password" name="password" id="password" value="" placeholder="password" class="form-control" />
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label class="col-lg-3" for="confirm_password">Confirm Password</label>
                <div class="col-lg-9">
                    <input type="password" name="confirm_password" value="" id="confirm_password" placeholder="Confirm Password" class="form-control" />
                </div>
            </div>

        </fieldset>

    </form>

</div>
</body>
</html>