<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<html>

    <title>MY SCHOOL TIMETABLE</title>
    <style>
      body{
        background-color:white;
        margin: 10%;
        font-size:14px;
        font-family: monospace;
      }
      td,th{
        text-align:center;
        padding:20px;
        border:2px solid black;

      }
      td:hover{
        background-color:#D8B9FE;
        color:black;
        font-family:'open-sans';
      }
      th:hover{
        background-color:#D8B9FE;
        color:black;
        font-family:'open-sans';
      }
    </style>

<body>
<h2>TIME TABLE 2AC:  SCHOOLYEAR 2022-2023</h2>
<table width="100%">
    <tr>
        <th style="background-color: #6A6A6A">Time</th>
        <th style="background-color: #949494">Monday</th>
        <th style="background-color: #949494">Tuesday</th>
        <th style="background-color: #949494">Wednesday</th>
        <th style="background-color: #949494">Thursday</th>
        <th style="background-color: #949494">Friday</th>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">7:45 am</td>
        <td style="background-color: #C2D69B">Physical Education</td>
        <td style="background-color: #FDF733">English</td>
        <td style="background-color: #FDF733">English</td>
        <td style="background-color: #FDF733">English</td>
        <td style="background-color: #9FC5E8">Maths</td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">8:45 am</td>
        <td style="background-color: #9FC5E8">Maths</td>
        <td style="background-color: #F7BF8E">French</td>
        <td style="background-color: #F39831">History</td>
        <td style="background-color: #6AA84F">Science</td>
        <td style="background-color: #F7BF8E">Dutch</td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">10:00 am</td>
        <td style="background-color: #6A6A6A">Break</td>
        <td style="background-color: #6A6A6A">Break</td>
        <td style="background-color: #6A6A6A">Break</td>
        <td style="background-color: #6A6A6A">Break</td>
        <td style="background-color: #6A6A6A">Break</td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">10:15 am</td>
        <td style="background-color: #FDF733">English</td>
        <td style="background-color: #9FC5E8">Maths</td>
        <td style="background-color: #9FC5E8">Maths</td>
        <td style="background-color: #9FC5E8">Maths</td>
        <td style="background-color: #D9D2E9">French</td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">11:30 am</td>
        <td style="background-color: #FEFCCC">Geography</td>
        <td style="background-color: #F39831">Finishing off</td>
        <td style="background-color: #F39831">History</td>
        <td style="background-color: #FDF733">English</td>
        <td>Home Time</td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">12:15 pm</td>
        <td style="background-color: #F39831">Finishing off</td>
        <td style="background-color: #FEFCCC">Geography</td>
        <td style="background-color: #F39831">Finishing Off</td>
        <td style="background-color: #FDF733">English</td>
        <td style="background-color: #6A6A6A"></td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">12:45 pm</td>
        <td style="background-color: #6A6A6A">Lunch</td>
        <td style="background-color: #6A6A6A">Lunch</td>
        <td style="background-color: #6A6A6A">Lunch</td>
        <td style="background-color: #6A6A6A">Lunch</td>
        <td style="background-color: #6A6A6A"></td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">01:30 pm</td>
        <td style="background-color: #F39831">Music</td>
        <td style="background-color: #F39831">Dutch</td>
        <td style="background-color: #F7BF8E">French</td>
        <td style="background-color: #F7BF8E">History</td>
        <td style="background-color: #6A6A6A"></td>
    </tr>
    <tr>
        <td style="background-color: #6A6A6A">02:40pm</td>
        <td style="background-color: #D8B9FE">Home Time</td>
        <td style="background-color: #D8B9FE">Home Time</td>
        <td style="background-color: #D8B9FE">Home Time</td>
        <td style="background-color: #D8B9FE">Home Time</td>
        <td style="background-color: #6A6A6A"></td>
    </tr>
</table>


</body>
</html>